body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.toDoWell {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 8px;
}

.toDoItem {
  overflow: visible;
  overflow-wrap: break-word;
}